<h2 class="text-center">Student Info.</h2>
<div class="container mt-5 col-10">
  <div class="card m-4">
    <div class="card-body">
      <form
        class="row g-3"
        [formGroup]="registerForm"
        (submit)="register($event)"
      >
        <div class="col-md-4">
          <label for="studentName" class="form-label">Student Name</label>
          <input
            type="text"
            class="form-control"
            id="studentName"
            placeholder="Enter Student Name"
            value=""
            name="studentName"
            formControlName="studentName"
          />
          <ng-container *ngIf="getUsername.touched">
            <div
              *ngIf="getUsername.hasError('required')"
              class="form-text text-danger"
            >
              username is required
            </div>
            <div
              *ngIf="getUsername.hasError('minlength')"
              class="form-text text-danger"
            >
              username length must be greater than 3
            </div>
          </ng-container>
        </div>
        <div class="col-md-4">
          <label for="age" class="form-label">Student Age</label>
          <input
            type="text"
            class="form-control"
            id="age"
            value=""
            placeholder="Enter Student Age"
            name="studentAge"
            formControlName="studentAge"
          />
          <ng-container *ngIf="getAge.touched">
            <div
              *ngIf="getAge.hasError('required')"
              class="form-text text-danger"
            >
              Age is required
            </div>
            <div *ngIf="getAge.hasError('min')" class="form-text text-danger">
              Age must be greater than or equal 18
            </div>
            <div *ngIf="getAge.hasError('max')" class="form-text text-danger">
              Age must be less than or equal 30
            </div>
          </ng-container>
        </div>

        <div class="col-4 mt-5">
          <button class="btn btn-primary" type="submit">submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
